*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* ============== CABEÇALHO ============== */

.cabecalho {
    background-color: rgb(255, 145, 77);
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    height: 10vh;
    padding: 0 16px 0 50px;
    width: 100%;
}

header section {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 50vw;
}

section nav {
    display: flex;
    height: 100%;
    width: 50vw;
}

section > img {
    height: 100%;
}

nav > div {
    height: 100%;
    display: flex;
    align-items: center;
}

.botoes {
    display: flex;
    align-items: center;
}

.botoes a {
    padding: 4px;
    border-radius: 5px;
}

.botoes a:hover {
    background-color: chocolate;
    transition: 0.4s;
}

#chamada-para-acao {
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao-login {
    display: flex;
    padding: 4px;
}

#botao-login:hover{
    background-color: chocolate;
    transition: 0.4s;
}

#quero-ser-f4 {
    background-color: rgb(26, 73, 212);
    padding: 4px 8px;
    border-radius: 5px;
}

#quero-ser-f4:hover {
    background-color: rgb(1, 46, 180);
    transition: 0.4s;
}

div a, nav a {
    margin: 8px 4px 8px 16px;
}

header a {
    text-decoration: none;
    color: #fff;
}