*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: rgb(255, 145, 77);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 16px;
}

header section {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
}

section nav {
    height: 100%;
}

section > img {
    height: 100%;
}

nav > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div > img {
    height: 15%;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: center;
}

#botoes-centrais {
    margin: 0 200px 0 0;
}

#chamada-para-acao {
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao-login {
    display: flex;
    border-bottom: 2px solid rgb(255, 145, 77);
}

#botao-login:hover{
    border-bottom: 2px solid rgb(255, 189, 89);
    transition: 0.4s;
}

#quero-ser-f4 {
    background-color: rgb(26, 73, 212);
    padding: 4px 8px;
    border-radius: 5px;
}

#quero-ser-f4:hover {
    background-color: rgb(1, 46, 180);
    transition: 0.4s;
}

div a, nav a {
    margin: 16px 4px 16px 16px;
    border-bottom: 2px solid rgb(255, 145, 77);
}

div a:hover {
    margin: 16px 8px 16px 16px;
    transition: 0.5s;
}

header a {
    text-decoration: none;
    color: #fff;
}

div a:hover {
    border-bottom: 2px solid rgb(255, 189, 89);
    transition: 0.4s;
}